<div style="font-family: inherit; text-align: inherit"><strong>You requested a password reset.</strong></div>
<div style="font-family: inherit; text-align: inherit"><a href="{{admin_url}}/reset-password?token={{token}}">click here to reset your password</a></div>
<div style="font-family: inherit; text-align: inherit"><br></div>