<div style="font-family: inherit; text-align: inherit"><strong>You have been invited to join our team!</strong></div>
<div style="font-family: inherit; text-align: inherit"><a href="{{admin_url}}/invite?token={{token}}">click here to activate your account</a></div>
<div style="font-family: inherit; text-align: inherit"><br></div>
<div style="font-family: inherit; text-align: inherit">Excited to get started!</div>